Flask==3.0.3
gdown==5.2.0
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-hub==0.16.1
tf_keras==2.17.0
Werkzeug==3.0.4
pandas==2.2.2
gunicorn==20.1.0
